### Q1 Create a pandas series that contains the following data: 4,8,15,16,23,and42.Then printthe series.

In [3]:
import pandas as pd
data=[4,8,15,16,23,42]
df=pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2 Create a variable of list type containing 10 elements in it and apply pandas.Series function on the variable print it.

In [4]:
data1=['himanshu','saini','sahil','pasriha','jatin','bathla','aashish','verma','abhay','pratap']
df1=pd.Series(data1)
print(df1)

0    himanshu
1       saini
2       sahil
3     pasriha
4       jatin
5      bathla
6     aashish
7       verma
8       abhay
9      pratap
dtype: object

### Q3 Create a pandas DataFrame that contains the following data:
Name Age Gender
 Alice 25 Female
 Bab 30 Male
 Claire 27 Female
 Then print the DataFrame.

In [5]:
data3={'Name':['Alice','Bab','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']
}
df3=pd.DataFrame(data3)
print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bab   30    Male
2  Claire   27  Female

### Q4 What is DataFrame in pandas andhow is it different from pandas.series? Explain withan example.

In [6]:
'''In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially 
different data types. It is similar to a spreadsheet  or a  SQL table. In a DataFrame , data is 
organized in rows and columns, where each column can be considered as a Pandas Series.

On the other hand, a Series in Pandas is a one-dimensional labeled array that can contain data of any 
data type, including integers, strings, and floating-point numbers. It is similar to a column in a 
spreadsheet or a SQL table.

The main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional data 
structure with rows and columns, while a Series is a one-dimensional data structure with only one column.
Here's an example to illustrate the difference between a DataFrame and a Series:

Suppose we have the following data:
Name(Alice , Bob, Charlie) , Age(25, 3, 35) , Gender (Female,Male ,Male)
We can represent this data using a DataFrame in Pandas as follows:'''

"In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially \ndifferent data types. It is similar to a spreadsheet  or a  SQL table. In a DataFrame , data is \norganized in rows and columns, where each column can be considered as a Pandas Series.\n\nOn the other hand, a Series in Pandas is a one-dimensional labeled array that can contain data of any \ndata type, including integers, strings, and floating-point numbers. It is similar to a column in a \nspreadsheet or a SQL table.\n\nThe main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional data \nstructure with rows and columns, while a Series is a one-dimensional data structure with only one column.\nHere's an example to illustrate the difference between a DataFrame and a Series:\n\nSuppose we have the following data:\nName(Alice , Bob, Charlie) , Age(25, 3, 35) , Gender (Female,Male ,Male)\nWe can represent this data using a DataFrame in Pandas as follows:"

In [9]:
data4={'Name':['Alice','Bab','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']
}
df4=pd.DataFrame(data4)
print(df4)

     Name  Age  Gender
0   Alice   25  Female
1     Bab   30    Male
2  Claire   27  Female

### Q5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [12]:
df5=pd.read_csv('services.csv')
grouped=df5.groupby('name').mean()
print(grouped)

                                        id  location_id  program_id
name
Adult Rehabilitation Center           15.0         15.0         NaN
Economic Self-Sufficiency Program      5.0          5.0         NaN
Example Service Name                  23.0         22.0         NaN
Fair Oaks Adult Activity Center        1.0          1.0         NaN
Fair Oaks Branch                       9.0          9.0         NaN
Family Visitation Center               4.0          4.0         NaN
Little House Recreational Activities   6.0          6.0         NaN
Main Library                          10.0         10.0         NaN
Meals on Wheels - South County         8.0          8.0         NaN
Passport Photos                       22.0         22.0         NaN
Project Read                          12.0         12.0         NaN
Project Smile                         18.0         18.0         NaN
Redwood City Corps                    14.0         14.0         NaN
Redwood Shores Branch                 13.0         13.0         NaN
Rosener House Adult Day Services       7.0          7.0         NaN
San Mateo Free Medical Clinic         19.0         19.0         NaN
Schaberg Branch                       11.0         11.0         NaN
Second Career Employment Program       2.0          2.0         NaN
Senior Peer Counseling                 3.0          3.0         NaN
Service for Admin Test Location       21.0         21.0         NaN
Service with blank fields             20.0         20.0         NaN
South San Francisco Citadel Corps     17.0         17.0         NaN
Sunnyvale Corps                       16.0         16.0         NaN

/tmp/ipykernel_77/3620177824.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped=df5.groupby('name').mean()

In [ ]:
df6=pd.read_csv('services.csv')
sorted_df6=df6.sort_values('id',ascending= False)
print(sorted_df6)

In [ ]:
df7=pd.read_csv('services.csv')
print(df7.head())
print(df7.tail())

In [ ]:
df8=pd.read_csv('services.csv')
print(df8.describe)

### Q6 Which of the following is mutable in nature Series,DataFrame,Panel?

In [ ]:
In Pandas, both Series and DataFrame are mutable in nature, while Panel is considered deprecated 
and has been replaced by multi-dimensional arrays, such as numpy.ndarray or xarray.DataArray, 
which are also mutable.

In a mutable object, the contents of the object can be modified after it is created. This means 
that you can add, remove, or update elements in a Series or DataFrame after they are created.

### Q7 Create a DataFrame using multiple Series. Explain with an example.

In [18]:
name=pd.Series(['Alice','Bab','Claire'])
ages=pd.Series([25,30,27])
gender=pd.Series(['Female','Male','Female'])
df9=pd.DataFrame({'Name':name,'Age':ages,'Gender':gender})
print(df9)

     Name  Age  Gender
0   Alice   25  Female
1     Bab   30    Male
2  Claire   27  Female